<section class="boosters" id="boosters">
  <div class="container">
    <h2 class="base-title">Boosters and Power-Ups</h2>
    <p class="boosters-descr-first">
      Boosters in Crystal Temple aren’t just tools—they’re magical relics
      designed for specific puzzle types.
    </p>
    <ul class="boosters-list">
      <li class="boosters-item">
        <img
          class="boosters-item-photo"
          src="/img/crystal_bomb@2x.webp"
          alt="boosters"
          width="50"
          height="50"
        />
        <div class="boosters-item-content">
          <h3 class="boosters-item-title">Crystal Bomb</h3>
          <p class="boosters-item-descr">
            Clears nearby tiles in a burst of energy
          </p>
        </div>
      </li>
      <li class="boosters-item">
        <img
          class="boosters-item-photo"
          src="/img/lightning@2x.webp"
          alt="boosters"
          width="50"
          height="50"
        />
        <div class="boosters-item-content">
          <h3 class="boosters-item-title">Lightning Scroll</h3>
          <p class="boosters-item-descr">Zaps rows or columns of crystals</p>
        </div>
      </li>
      <li class="boosters-item">
        <img
          class="boosters-item-photo"
          src="/img/time_sigil@2x.webp"
          alt="boosters"
          width="50"
          height="50"
        />
        <div class="boosters-item-content">
          <h3 class="boosters-item-title">Time Sigil</h3>
          <p class="boosters-item-descr">
             Adds extra moves to challenging stages
          </p>
        </div>
      </li>
      <li class="boosters-item">
        <img
          class="boosters-item-photo"
          src="/img/relic_swap@2x.webp"
          alt="boosters"
          width="50"
          height="50"
        />
        <div class="boosters-item-content">
          <h3 class="boosters-item-title">Relic Swap</h3>
          <p class="boosters-item-descr">
            Lets you rearrange key pieces to beat stuck levels
          </p>
        </div>
      </li>
      <li class="boosters-item">
        <img
          class="boosters-item-photo"
          src="/img/artifact@2x.webp"
          alt="boosters"
          width="50"
          height="50"
        />
        <div class="boosters-item-content">
          <h3 class="boosters-item-title">Artifact Combo</h3>
          <p class="boosters-item-descr">
            Activates multiple relics at once for massive effects
          </p>
        </div>
      </li>
    </ul>
    <p class="boosters-descr-second">
      Boosters can be earned through gameplay or collected via daily rewards.
    </p>
  </div>
</section>
