<section class="contact" id="contact">
  <div class="container">
    <h2 class="base-title">Contact Us</h2>
    <p class="contact-text">Have a question, suggestion, or found a hidden bug in the temple?</p>
    <ul class="contact-list">
      <li class="contact-item contact-item-first">
        <address class="contact-info"><span class="contact-span">Email: </span><a class="contact-link" href="mailto:info@crystaltemple.space">info@crystaltemple.space</a></address>
      </li>
      <li class="contact-item contact-item-second">
        <p class="contact-info">We usually respond within 24 hours on weekdays.</p>
      </li>
    </ul>
  </div>
</section>
