<section class="faq" id="faq">
  <div class="container">
    <h2 class="base-title">FAQ</h2>
    <ul class="faq-list" data-list="list">
      <!-- <li class="faq-item">
        <button class="faq-btn-close" data-faq-close="close">
          <svg class="faq-btn-close-icon" width="20" height="20">
            <use href="../img/sprite.svg#icon_close_btn"></use>
          </svg>
        </button>
        <p class="faq-title">How often are new levels or conte added to the game?</p>
        <p class="faq-text" data-action="close">We are committed to keeping Crystal Temple fresh and exciting. New levels, temple zones, and seasonal events are typically added every 3 to 4 weeks. Each update includes new crystal mechanics, themed puzzles, and occasional secret chamber unlocks. We also use player feedback and completion data to guide our level design, ensuring that updates are both fun and challenging. Players can enable push notifications to be alerted when new content is live. You can always find update logs and previews in our blog or app store listing.</p>
        <button class="faq-button" type="button" data-faq="3" data-action-btn-more="open">More</button>
      </li> -->
    </ul>
    <button class="faq-button-global" type="button" data-faq="open-all-faq">
      Learn More
    </button>

    <!-- modal -->
    <div class="modal-overlay-faq">
      <div class="modal-faq-all">
        <ul class="modal-list"></ul>
        <button
          class="faq-button-global"
          type="button"
          data-faq="close-all-faq"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</section>
