<section class="faq" id="faq">
  <div class="container">
    <h2 class="base-title">FAQ</h2>
    <ul class="faq-list" data-list="list">
      <li class="faq-item">
        <p class="faq-text">Is Crystal Temple completely free to play?</p>
        <button class="faq-button" type="button" data-faq="1">More</button>
      </li>
      <li class="faq-item">
        <p class="faq-text">
          Can I play Crystal Temple without an internet connection?
        </p>
        <button class="faq-button" type="button" data-faq="2">More</button>
      </li>
      <li class="faq-item">
        <p class="faq-text">
          How often are new levels or content added to the game?
        </p>
        <button class="faq-button" type="button" data-faq="3">More</button>
      </li>
      <li class="faq-item">
        <p class="faq-text">I’m stuck on a level. What should I do?</p>
        <button class="faq-button" type="button" data-faq="4">More</button>
      </li>
      <li class="faq-item">
        <p class="faq-text">How does the daily reward system work?</p>
        <button class="faq-button" type="button" data-faq="5">More</button>
      </li>
      <li class="faq-item faq-item-desktop">
        <p class="faq-text">
          What are secret chambers, and how can I access them?
        </p>
        <button class="faq-button" type="button" data-faq="6">More</button>
      </li>
      <li class="faq-item faq-item-desktop">
        <p class="faq-text">
          Will I lose my progress if I switch to a new device?
        </p>
        <button class="faq-button" type="button" data-faq="7">More</button>
      </li>
    </ul>
    <button class="faq-button-global" type="button" data-faq="open-all-faq">
      Learn More
    </button>

    <!-- modal -->
    <div class="modal-overlay-faq">
      <div class="modal-faq-all">
        <ul class="modal-list"></ul>
        <button
          class="faq-button-global"
          type="button"
          data-faq="close-all-faq"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</section>
