<section class="faq" id="faq">
  <div class="container">
    <h2 class="base-title">FAQ</h2>
    <ul class="faq-list" data-list="list">
    </ul>
    <button class="faq-button-global" type="button" data-faq="open-all-faq">
      Learn More
    </button>

    <!-- modal -->
    <div class="modal-overlay-faq">
      <div class="modal-faq-all">
        <ul class="modal-list"></ul>
        <button
          class="faq-button-global"
          type="button"
          data-faq="close-all-faq"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</section>
