<section class="hero">
  <div class="container hero-container">
    <div class="wrapper"></div>
    <div class="hero-content">
      <h1 class="hero-title">Welcome to Crystal Temple!</h1>

      <p class="hero-descr-first">
        Uncover Mysteries. Match Crystals. Claim the Temple's Secrets.
      </p>
      <p class="hero-descr-second">
        Step inside the ancient Crystal Temple, where forgotten magic, glowing
        gems, and puzzling chambers await the brave. This is not just another
        match-3 game—it's an expedition into a world of mystery and strategy,
        packed with dazzling levels, hidden relics, and sacred chambers.
        <span>
          Dare to enter and see if you can solve the temple's ancient puzzles.
        </span>
      </p>

      <a
        class="hero-btn"
        target="_blank"
        rel="noopener noreferrer"
        href="https://play.google.com/store/apps/details?id=com.RVEntertainment.CrystalTemple&hl=en&gl=us"
      >
        <img
          src="/img/play-market.webp"
          width="24"
          height="24"
          alt="play-market"
        />

        Google Play</a
      >
    </div>
  </div>
</section>
