<section class="how-to-play" id="how-to-play">
  <div class="container">
    <h2 class="base-title">How to Play</h2>
    <ul class="play-list">
      <li class="play-item">
        <div class="play-item-wraper">
          <img
            src="/img/swap@2x.webp"
            alt="play-game"
            width="50"
            height="50"
            class="play-item-photo"
          />
        </div>
        <div class="play-item-content">
          <h3 class="play-item-title">Swap Crystals</h3>
          <p class="play-item-descr-first">
            Swap Crystals: Align 3 or more of the same type to clear them from
            the board.
          </p>
          <p class="play-item-descr-second">Tip: Look for the best matches!</p>
        </div>
      </li>
      <li class="play-item">
        <div class="play-item-wraper">
          <img
            src="/img/create@2x.webp"
            alt="play-game"
            width="50"
            height="50"
            class="play-item-photo"
          />
        </div>
        <div class="play-item-content">
          <h3 class="play-item-title">Create Combos</h3>
          <p class="play-item-descr-first">
             Match 4 or 5 to unleash devastating boosters.
          </p>
          <p class="play-item-descr-second">Pro Tip: Use boosters wisely!</p>
        </div>
      </li>
      <li class="play-item">
        <div class="play-item-wraper">
          <img
            src="/img/solve@2x.webp"
            alt="play-game"
            width="50"
            height="50"
            class="play-item-photo"
          />
        </div>
        <div class="play-item-content">
          <h3 class="play-item-title">Solve Level Goals</h3>
          <p class="play-item-descr-first">
            Collect specific crystals, destroy ancient blocks, or reach score
            targets within limited moves.
          </p>
          <p class="play-item-descr-second">Goal: Clear the blocks!</p>
        </div>
      </li>
      <li class="play-item">
        <div class="play-item-wraper">
          <img
            src="/img/unlock@2x.webp"
            alt="play-game"
            width="50"
            height="50"
            class="play-item-photo"
          />
        </div>
        <div class="play-item-content">
          <h3 class="play-item-title">Unlock Zones</h3>
          <p class="play-item-descr-first">
            Complete special levels to open new areas of the temple.
          </p>
          <p class="play-item-descr-second">Adventure awaits!</p>
        </div>
      </li>
      <li class="play-item">
        <div class="play-item-wraper">
          <img
            src="/img/collect@2x.webp"
            alt="play-game"
            width="50"
            height="50"
            class="play-item-photo"
          />
        </div>
        <div class="play-item-content">
          <h3 class="play-item-title">Collect Relics</h3>
          <p class="play-item-descr-first">
            Solve puzzles to unlock legendary artifacts that help you progress.
          </p>
          <p class="play-item-descr-second">Keep your eyes open!</p>
        </div>
      </li>
    </ul>
    <p class="play-game-descr">
      Master the match, and uncover what lies beneath the crystal altar.
    </p>
  </div>
</section>
