<section class="information" id="information">
  <div class="container">
    <h2 class="base-title">Game information</h2>
    <ul class="information-list">
      <li class="information-item">
        <p class="information-text">Game Title</p>
        <div class="information-div">
          <p class="information-text information-text-div">Crystal Temple...</p>
        </div>
      </li>
      <li class="information-item">
        <p class="information-text">Version</p>
        <div class="information-div">
          <p class="information-text information-text-div">1.15</p>
        </div>
      </li>
      <li class="information-item">
        <p class="information-text">Release Date</p>
        <div class="information-div">
          <p class="information-text information-text-div">March 31, 2025</p>
        </div>
      </li>
      <li class="information-item">
        <p class="information-text">Platform</p>
        <div class="information-div">
          <p class="information-text information-text-div">Android</p>
        </div>
      </li>
      <li class="information-item">
        <p class="information-text">Minimum OS</p>
        <div class="information-div">
          <p class="information-text information-text-div">Android 5.1</p>
        </div>
      </li>
      <li class="information-item">
        <p class="information-text">Downloads</p>
        <div class="information-div">
          <p class="information-text information-text-div">10+ (early access phase)...</p>
        </div>
      </li>
    </ul>
  </div>
</section>
