<section class="levels" id="levels">
  <div class="container">
    <h2 class="base-title">Levels and Progression</h2>
    <p class="levels-descr">
      Each region of the Crystal Temple contains a unique visual theme,
      challenge curve, and ambient story elements.
    </p>
    <div class="levels-block-list">
      <div class="levels-progress-block">
        <h3 class="levels-progress-title">As you progress:</h3>
        <ul class="levels-progress-list">
          <li class="levels-progress-item">
            <img
              class="levels-progress-photo"
              src="/img/puzzles@2x.webp"
              alt="progress"
              width="16"
              height="16"
            />
            <p class="levels-progress-descr">Puzzles become more strategic</p>
          </li>
          <li class="levels-progress-item">
            <img
              class="levels-progress-photo"
              src="/img/traps@2x.webp"
              alt="progress"
              width="16"
              height="16"
            />
            <p class="levels-progress-descr">Traps and cursed blocks appear</p>
          </li>
          <li class="levels-progress-item">
            <img
              class="levels-progress-photo"
              src="/img/time@2x.webp"
              alt="progress"
              width="16"
              height="16"
            />
            <p class="levels-progress-descr">
              Time-based challenges and multi-board levels unlock
            </p>
          </li>
          <li class="levels-progress-item">
            <img
              class="levels-progress-photo"
              src="/img/hidden.webp"
              alt="progress"
              width="16"
              height="16"
            />
            <p class="levels-progress-descr">
              Hidden mini-levels reward exploration
            </p>
          </li>
        </ul>
      </div>
      <div class="levels-unlockable-block">
        <h3 class="levels-unlockable-title">Unlockable areas include:</h3>
        <ul class="levels-unlockable-list">
          <li class="levels-unlockable-item">
            <div class="levels-unlockable-wrapper">
              <img
                class="levels-unlockable-photo"
                src="/img/sapphire@2x.webp"
                alt="unlockable"
                width="16"
                height="16"
              />
            </div>
            <p class="levels-unlockable-descr">Sapphire Hall</p>
          </li>
          <li class="levels-unlockable-item">
            <div class="levels-unlockable-wrapper">
              <img
                class="levels-unlockable-photo"
                src="/img/emerald@2x.webp"
                alt="unlockable"
                width="16"
                height="16"
              />
            </div>
            <p class="levels-unlockable-descr">Emerald Basin</p>
          </li>
          <li class="levels-unlockable-item">
            <div class="levels-unlockable-wrapper">
              <img
                class="levels-unlockable-photo"
                src="/img/ruby@2x.webp"
                alt="unlockable"
                width="16"
                height="16"
              />
            </div>
            <p class="levels-unlockable-descr">Ruby Forge</p>
          </li>
          <li class="levels-unlockable-item">
            <div class="levels-unlockable-wrapper">
              <img
                class="levels-unlockable-photo"
                src="/img/amethyst@2x.webp"
                alt="unlockable"
                width="16"
                height="16"
              />
            </div>
            <p class="levels-unlockable-descr">Amethyst Sanctum</p>
          </li>
          <li class="levels-unlockable-item">
            <div class="levels-unlockable-wrapper">
              <img
                class="levels-unlockable-photo"
                src="/img/the_heart@2x.webp"
                alt="unlockable"
                width="16"
                height="16"
              />
            </div>
            <p class="levels-unlockable-descr">
              The Heart of the Temple (final zone)
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
