<div class="modal-cookie" data-cookie="close">
  <div class="modal__content">
    <p class="modal-cookie-descr">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="modal-cookie-btn">
      <button class="modal-cookie-btn-accept" data-info="accept">
        Accept Cookies
      </button>
      <button class="modal-cookie-btn-decline" data-info="decline">
        Decline Cookies
      </button>
    </div>
  </div>
</div>
