<section class="rewards">
  <div class="container">
    <h2 class="rewards-title">Daily Rewards & Special Events</h2>
    <p class="rewards-text">Return to the temple daily to claim</p>
    <ul class="rewards-list">
      <li class="rewards-item">
        <picture>
          <source 
            media="(min-width: 1200px)" 
            srcset="/img/booster_packs.webp 1x, /img/booster_packs@2x.webp 2x">
          <source 
            media="(max-width: 1199px)" 
            srcset="/img/mobile/booster_packs_mob.webp 1x, /img/mobile/booster_packs_mob@2x.webp 2x">
          <img src="/img/booster_packs.webp" 
              alt="Booster packs">
        </picture>
        <p class="rewards-item-text">Booster packs</p>
      </li>
      <li class="rewards-item">
        <picture>
          <source 
            media="(min-width: 1200px)" 
            srcset="/img/crystal_coins.webp 1x, /img/crystal_coins@2x.webp 2x">
          <source 
            media="(max-width: 1199px)" 
            srcset="/img/mobile/crystal_coins_mob.webp 1x, /img/mobile/crystal_coins_mob@2x.webp 2x">
          <img src="/img/crystal_coins.webp" 
              alt="Crystal coins">
        </picture>
        <p class="rewards-item-text">Crystal coins</p>
      </li>
      <li class="rewards-item">
        <picture>
          <source 
            media="(min-width: 1200px)" 
            srcset="/img/event_tickets.webp 1x, /img/event_tickets@2x.webp 2x">
          <source 
            media="(max-width: 1199px)" 
            srcset="/img/mobile/event_tickets_mob.webp 1x, /img/mobile/event_tickets_mob@2x.webp 2x">
          <img src="/img/event_tickets.webp" 
              alt="Event tickets">
        </picture>
        <p class="rewards-item-text">Event tickets</p>
      </li>
      <li class="rewards-item">
        <picture>
          <source 
            media="(min-width: 1200px)" 
            srcset="/img/mystery_chests.webp 1x, /img/mystery_chests@2x.webp 2x">
          <source 
            media="(max-width: 1199px)" 
            srcset="/img/mobile/mystery_chests_mob.webp 1x, /img/mobile/mystery_chests_mob@2x.webp 2x">
          <img src="/img/mystery_chests.webp" 
              alt="Mystery chests">
        </picture>
        <p class="rewards-item-text">Mystery chests</p>
      </li>
    </ul>
    <p class="rewards-text rewards-text-botton">Limited-time events occur regularly, with rotating gameplay twists, leaderboard challenges, and seasonal cosmetics for your avatar and relics.</p>
  </div>
</section>
