<section class="secret" id="secret">
  <div class="container">
    <h2 class="secret-title">Secret Chambers</h2>
    <p class="secret-text">Scattered throughout the temple are Secret Chambers—locked rooms that require specific artifacts to access.</p>
      <ul class="secret-list">
        <li class="secret-item secret-item-first">
          <p class="secret-text-item">Bonus Puzzles</p>
        </li>
        <li class="secret-item secret-item-second">
          <p class="secret-text-item">Lore scrolls revealing the temple’s history</p>
        </li>
        <li class="secret-item secret-item-third">
          <p class="secret-text-item">Limited-time event levels</p>
        </li>
        <li class="secret-item secret-item-fourth">
          <p class="secret-text-item">Exclusive cosmetic rewards</p>
        </li>
      </ul>
    <p class="secret-text-bottom">Only the most persistent explorers can find and conquer them all.</p>
  </div>
</section>
