.about-title {
    font-family: "Alfa Slab One", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.56;
    text-transform: uppercase;
    color: #fc0;
    -webkit-text-stroke: 2px #c00f0c;
    text-shadow: 1px 5px 10px #c00f0c;
    margin-bottom: 20px;
}

.about-descr {
    font-size: 16px;
    line-height: 1.875;
    margin-bottom: 20px;
}

.about-descr-last {
    margin-bottom: 0;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
    .about {
        padding-bottom: 110px;

    }

    .about-title {
        font-size: 36px;
        line-height: 1;
        margin-bottom: 50px;
    }

    .about-descr {
        font-weight: 400;
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 30px;
    }

    .about-descr-last {
        margin-bottom: 0;
    }

}