.boosters-descr-first {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.boosters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.boosters-item {
    border: 5px solid #32ade6;
    border-radius: 10px;
    padding: 10px 10px 16px 10px;
    width: 288px;
    display: flex;
    gap: 10px;
}

.boosters-item-photo {
    width: 50px;
    height: 50px;
}

.boosters-item-content {
    width: 177px;
}

.boosters-item-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.boosters-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.boosters-descr-second {
    font-size: 16px;
    line-height: 1.5;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {


    .boosters-descr-first {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .boosters-list {
        gap: 20px;
        margin-bottom: 40px;
    }

    .boosters-item {
        min-width: 325px;
        max-width: 518px;
        flex: 1 1 auto;
    }


    .boosters-item-photo {
        width: 100px;
        height: 100px;
    }

    .boosters-item-content {
        flex: 1;
        min-width: 177px;
        max-width: 370px;
    }

    .boosters-item-title {
        font-size: 24px;
        line-height: 1.17;
    }

    .boosters-item-descr {
        font-size: 20px;
        line-height: 1.2;
    }

    .boosters-descr-second {
        font-size: 20px;
        line-height: 1.2;
    }


}