.faq-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.faq-item {
    border: 5px solid #32ADE6;
    border-radius: 20px;
    padding: 16px;
}

.faq-title {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 5px;
}

.faq-text {}

.faq-button {
    width: 150px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #32ADE6;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    transition: all 250ms ease-in-out;
}

.faq-button:hover{
    box-shadow: 0px 4px 6px 0px rgb(0, 122, 255);
}

.faq-button:focus{
    background: #32ADE6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
}

.faq-button-global{
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid #32ADE6;
    border-radius: 20px;
    background: #ffffff;
    font-size: 24px;
    line-height: 1;
    transition: all 250ms ease-in-out;
}

.faq-button-global:hover{
    box-shadow: 0px 4px 6px 2px rgb(0, 122, 255);
}

.faq-button-global:focus{
    background: rgb(50, 173, 230);
    box-shadow: none;
    color: #ffffff;
}

.faq-item-desktop{
    display: none;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

.faq-list {
    gap: 20px;
}

.faq-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.faq-title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.faq-text {
    font-weight: 400px;
}

.faq-list {
    margin-bottom: 40px;
}

.faq-button-global{
    margin-left: auto;
    margin-right: 0px;
}

.faq-item-desktop{
    display: block;
}
}