.features .base-title {
    margin-bottom: 44px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 13px;
}

.features-item {
    width: 137px;
    height: 137px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(128, 128, 128, 0.55);
    background: radial-gradient(96.2% 96.2% at 50.06% 3.8%, rgba(0, 122, 255, 0.15) 0%, #1e1e1e 71.15%);
}

.features-item-photo {
    margin: -25px auto 5px;
}

.features-item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
}

.features-item-descr {
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .features .base-title {
        margin-bottom: 99px;
    }

    .features-list {

        gap: 76px 108px;
    }

    .features-item {
        width: 280px;
        height: 250px;

    }

    .features-item-photo {
        width: 159px;
        height: 159px;
        margin: -59px auto 0px;
    }

    .features-item-title {

        height: 48px;
        font-size: 24px;

        margin-bottom: 25px;
    }

    .features-item-descr {
        font-size: 20px;


        width: 280px;

    }

}