/* Styles for Mobile devices */
.immersive-title{
    font-family: "Alfa Slab One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fc0;
    -webkit-text-stroke: 2px #c00f0c;
    text-shadow: 1px 5px 10px #c00f0c;
    margin-bottom: 20px;
}

.immersive-text{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

.immersive-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.immersive-item{
    width: 100%;
    text-align: center;
    border: 5px solid #32ADE6;
    border-radius: 20px;
    padding: 16px 10px;
    text-align: left;
}

.immersive-item-text{
    font-size: 16px;
    line-height: 1.75;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

.immersive-title{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1;
}

.immersive-text{
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 13px;
}

.immersive-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.immersive-item {
  min-width: 325px;
  height: 88px;
  max-width: 518px;
  flex: 1 1 auto;
}

.immersive-item-text{
    font-size: 20px;
    line-height: 1.166667;
}
.immersive-item-text-one{
  max-width: 293px;
}

}