.information-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.information-item{
    padding-top: 14px;
    padding-bottom: 14px;
}

.information-text{
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 4px;
}

.information-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.information-text-div {
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    text-align: center;
    font-size: 15px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {

.information-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.information-item{
    padding-top: 15px;
    padding-bottom: 15px;
}

.information-div {
    width: 160px;
    height: 66px;
}
}