/* Styles for Mobile devices */
.secret{
    margin-bottom: 40px;
    padding: 0;
}

.secret-title{
    margin-bottom: 20px;
    color: #FFCC00;
    text-shadow: 0 2px 6px #C00F0C;
    font-family: "Alfa Slab One", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
}

.secret-text{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.secret-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 15px;
}

.secret-item{
    position: relative;
    padding-top: 70px;
    width: calc(50% - 7.5px);
    text-align: center;
    padding-bottom: 12px;
}

.secret-item::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(234, 221, 255, 0.1);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.secret-item-first::before{
    background-image: url(/img/bonus_puzzles@2x.webp);
}

.secret-item-second::before{
    background-image: url(/img/lore_scrolls@2x.webp);
}

.secret-item-third::before{
    background-image: url(/img/limited@2x.webp);
}

.secret-item-fourth::before{
    background-image: url(/img/exclusive@2x.webp);
}

.secret-text-item{
    line-height: 1.75;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
.secret{
    margin-bottom: 100px;
}

.secret-title{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1;
}

.secret-text{
    font-size: 20px;
    line-height: 1.2;
}

.secret-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.secret-item{
    position: relative;
    padding-top: 138px;
    width: 240px;
    text-align: center;
}

.secret-item::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(234, 221, 255, 0.1);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.secret-item::before{
    width: 100px;
    height: 100px;
    background-size: 50px 50px;
}

.secret-item-first::before{
    background-image: url(../img/bonus_puzzles@2x.webp);
}

.secret-item-second::before{
    background-image: url(../img/lore_scrolls@2x.webp);
}

.secret-item-third::before{
    background-image: url(../img/limited@2x.webp);
}

.secret-item-fourth::before{
    background-image: url(../img/exclusive@2x.webp);
}

.secret-text-item{
    font-size: 24px;
    line-height: 1.16667;
    padding-bottom: 12px;
}
}
