/* Styles for Mobile devices */
.secret-title{
    font-family: "Alfa Slab One", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #fc0;
    -webkit-text-stroke: 2px #c00f0c;
    text-shadow: 1px 5px 10px #c00f0c;
    margin-bottom: 20px;
}

.secret-text{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.secret-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 15px;
    margin-bottom: 15px;
}

.secret-item{
    position: relative;
    height: 151px;
    width: 139px;
    padding-top: 72px;
    text-align: center;
}

.secret-item::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: rgba(234, 221, 255, 0.1);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.secret-item-first::before{
    background-image: url(/img/bonus_puzzles@2x.webp);
}

.secret-item-second::before{
    background-image: url(/img/lore_scrolls@2x.webp);
}

.secret-item-third::before{
    background-image: url(/img/limited@2x.webp);
}

.secret-item-fourth::before{
    background-image: url(/img/exclusive@2x.webp);
}

.secret-text-item{
    line-height: 1.75;
    max-height: 80px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
.secret-title{
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1;
}

.secret-text{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.secret-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.secret-item{
    padding-top: 68px;
    height: 200px;
    position: relative;
    padding-top: 138px;
    width: 250px;
}

.secret-item::before{
    width: 50px;
    height: 50px;
    background-size: 25px 25px;
}

.secret-item::before{
    width: 100px;
    height: 100px;
    background-size: 50px 50px;
}


.secret-text-item{
    font-size: 24px;
    line-height: 1.16667;
}

.secret-text-bottom{
    font-size: 20px;
    line-height: 1.2;
}
}

