@media only screen and (min-width: 1200px) {
    .stone-wrapper {
        background-image:
            url('/img/stone_one@2x.webp'),
            url('/img/stone_five@2x.webp'),
            url('/img/stone_three@2x.webp'),
            url('/img/stone_six@2x.webp'),
            url('/img/stone_two@2x.webp'),
            url('/img/stone_four@2x.webp'),
            url('/img/stone_six@2x.webp'),
            url('/img/stone_seven@2x.webp'),
            url('/img/stone_one@2x.webp'),
            url('/img/stone_four@2x.webp'),
            url('/img/stone_ten@2x.webp'),
            url('/img/stone_twelve@2x.webp'),
            url('/img/stone_eleven@2x.webp');
        background-repeat: no-repeat;
        background-size:
            90px,
            120px,
            120px,
            30px,
            120px 95px,
            30px,
            50px,
            116px,
            50px,
            30px,
            50px,
            115px,
            50px;
        background-position:
            top 40px left 50%,
            top 460px left calc(50% + 151px),
            top 370px left calc(50% - 129px),
            top 250px left calc(50% - 20px),
            top 312px left calc(50% + 468px),
            top 455px left calc(50% + 320px),
            top 520px left calc(50% + 452px),
            top 630px left calc(50% - 190px),
            top 690px left calc(50% + 190px),
            top 1135px left calc(50% + 550px),
            top 1277px left calc(50% - 245px),
            top 1305px left calc(50% - 125px),
            top 1295px left calc(50% + 270px);
    }


}